html{font-size:12px;color:gray;font-family:'Arial';}
html{line-height:2em;}
a{color:#727272; text-decoration:none;}
a:hover{text-decoration:underline;}
.no1{font-size:14px;color:#b9f605;font-weight:bold;}
.whitep{color:white;}
.no3  a:hover{color:#b9f605;text-decoration:none;}
#no2{color:#fdb306;}
